.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 286px;
}

@media screen and (min-width: 930px) {
  .profile {
    min-height: 0;
    flex-direction: row;
    justify-content: flex-start;
    gap: 30px;

  }
}
