.popup__form-inputs {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  border: none;
  margin: 75px 0 45px 0;
  padding: 0;
}

@media screen and (min-width: 930px) {
  .popup__form-inputs {
    margin: 54px 0 48px 0;
  }
}
